#root .container .form-control:focus {
	box-shadow: 0 0 0 0.25rem rgba(26, 225, 36, 0.25);
	border-color: rgb(26, 225, 36);
}

#root .container .btn-outline-secondary:hover {
	background-color: rgb(26, 225, 36);
	border-color: rgba(26, 225, 36, 0.357);
}

#root .container .btn-outline-secondary:focus {
	box-shadow: 0 0 0 0.25rem rgba(82, 198, 24, 0.68);
}

#root .container .btn-close:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(26, 225, 36, 0.25);
	opacity: 1;
}
